table
    border: 1px solid black
    border-collapse: collapse

table td
    border: 1px solid black

.containerdc
    width: 100%
    
.container-fulldc
    width: 100%
    margin: 0
    padding: 0
    background: blue
    
.col-6s
    float: left
    width: 48%
    margin: 0% 1% 0% 1%
    
.warnings
    background: #fcf8e3
    border: 1px solid #faebcc

.dangers
    background: #f2dede
    //border: 1px solid #ebccd1

.successs
    background: #dff0d8
    //border: 1px solid #d6e9c6

.infos
    background: #d9edf7
    //border: 1px solid #bce8f1

.bg-successs, .bg-infos, .bg-warnings, .bg-dangers
    color: white

.bg-successs
    background: #337ab7
    
li.containerdc
    display: inline
    input
        width: 18%
        border-radius: 5px
        margin: 80px 0px 0px
        background: #d9edf7
        color: transparent
        font-weight: bolder
        text-align: center
        
li.setValue
    input
        margin-top: 20px
        width: 150px
        height: 25px
        background: #dff0d8
        border: 1px solid gray
        border-radius: 8px

section#register
    table
        width: 70%
        border: none
        
        td
            border: none
        input
            margin: 8px 3px
            height: 25px
            width: 180px
            border-radius: 3px
    h5#playGames
        margin-top: 40px
        color: #40D050
    h2
        margin-bottom: 40px
        font-family: 'sans-serif'
        color: #337ab7
        

section#stageOne, section#stageTwo, section#stageThree, section#stageFour, section#stageFive
    h2
        font-family: 'sans-serif'
        color: #F0943B
    h2#footer
            margin-top: 100px
    
    .tbl
        width: 200px
        width: 100%
        
        tr:first-child td
            background: #337ab7
            color: white
            height: 32px
        tr:last-child td
            border: 1px solid black
            width: 50%
            height: 28px

    .data
        width: 418px
        border: 1px solid
        margin: 0 auto
        margin-top: 30px
        margin-bottom: -80px
    
        td
            width: 33%
            height: 30px

section#fastResponseOption
    font-size: 12px
    table
        tr
            td:nth-child(1)
                width: 5%
            td:nth-child(2)
                width: 20%
            td:nth-child(3)
                width: 15%
            td:nth-child(4)
                width: 15%
            td:nth-child(5)
                width: 20%
            td
                padding: 3px
    table.inside
        border: none
        tr
            td
                border: none
                text-align: left
    ul
        li
            margin: 0

section#tempResult, section#finalResult
    h2#header
        font-family: 'sans-serif'
        color: #DFAF0F
        text-decoration: underline

section#tempResult
    ul
        width: 100%
        padding: 0
        li
            padding: 0
    table
        width: 100%
        td
            width: 21%
            height: 30px
        tr:first-child
            td
                background: #337ab7
                color: white
        td:first-child
            width: 16%
            background: #337ab7 !important
            color: white

section#manOfTheMatch
    h2#header
        color: #337ab7
    h2#winner
        color: #dff0d8
        background: rgb(90,130,80)
        border-radius: 5px
        width: 50%
        margin: 100px