doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Tugas TKPPL

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel ='stylesheet', type'text/styl', href='styles/main.styl')
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    
    script(src='build/jquery-2.1.4.min.js')

  body

    article
      
      section.first
        h2 Tugas Project TKPPL 2017
        p.bullet Disusun Oleh:
        ol.dibuat
          li Eka permadi (15.111.0164)
          li Benni Ardi Harahap (15.111.2963)
          li William Chaiyanda (15.111.0598)
          
    
      section.second
        h2.bullet Geografis Indonesia
        ol
          li Indonesia terletak membentang di garis katulistiwa 
          li Indonesia merupakan negara dengan pulau terbanyak di dunia
          li Indonesia di apit oleh dua benua besar
          li Indonesia di apit oleh dua samudra 
          img(src='images/gambar1.jpg', width='600', height='290')    

      Decision Riview Indonesia
        img.img-circle(src='images/gambar10.jpg', , width='360', height='280')
      section#proses1
        h1.bullet Tarian 
        h4.salah satu budaya indonesia yang pasti ada di setiap ujung Nusantara 
        img.img-circle(src='images/gambar2.jpg', , width='360', height='280')
      section#proses2
        h1.bullet Gunung Api
        h4.Indonesia sangat terkenal dengan gunung api, salah satunya Gunung Purba Krakatau dimana Getaran vulkaniknya sampai terasa di belahan bumi lainnya
        img.img-circle(src='images/gambar4.jpg', , width='360', height='280')
      section#proses3
        h1.bullet Tambang Emas
        h4.Kekayaan Nusantara yang di hak miliki oleh negara lain.
        img.img-circle(src='images/gambar5.jpg', , width='360', height='280')
      section#proses4
        h1.bullet Reog 
        h4. Merupakan salah satu tarian Indonesia yang sudah mulai menghilang dan punah.
        img.img-circle(src='images/gambar6.jpg', , width='360', height='250')
      section#proses5
        h1.bullet Wayang 
        h4. Merupakan seni tradisional bangsa Indonesia yang sangat jarang kita nikmati lagi  
        img.img-circle(src='images/gambar7.jpg', , width='360', height='280')
      section#proses6
        h1.bullet Candi
        h4.merupakan Objek wisata buatan yang terkenal di Indonesia karena ke unikan dan ciri khasnya masing-masing
        img.img-circle(src='images/gambar8.jpg', , width='360', height='280')
      section#proses7
        h1.bullet 
        img.img-circle(src='images/gambar9.jpg', , width='360', height='280')

      
        
      
           
    script(src='build/build.js')
